.gallery {
  padding: 2rem;
  grid-template-columns: 1fr;
  gap: 15px;
}

.gallery-item:nth-child(1),
.gallery-item:nth-child(2),
.gallery-item:nth-child(3),
.gallery-item:nth-child(4),
.gallery-item:nth-child(5) {
  grid-column: 1;
  grid-row: auto;
}

.gallery {
  padding: 1rem 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1r);
  gap: 20px;
  margin: 0 auto;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  aspect-ratio: 1;
  background: #1a1a1a;
  text-decoration: none;
  color: #fff;
  display: block;
}

.gallery-item:nth-child(1) {
  grid-column: 2 / 3;
}

.gallery-item:nth-child(2) {
  grid-column: 3 / 4;
}

.gallery-item:nth-child(3) {
  grid-column: 1 / 4;
  grid-row: 2;
  aspect-ratio: 2.25/1;
  width: 80%;
  justify-self: start;
}

.gallery-item.wide {
  aspect-ratio: 2/1 !important;
  height: auto;
}

.gallery-item:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 3;
}

.gallery-item:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 3;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.gallery-item:hover img {
  transform: scale(1.05);
}

.gallery-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.gallery-item:hover video {
  transform: scale(1.05);
}

.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
}

.gallery-item:hover .gallery-overlay {
  opacity: 1;
}

.gallery-item:hover .gallery-overlay {
  opacity: 1;
}

.gallery-overlay h6 {
  font-family: Casper-L;
  font-size: 3rem;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  transform: translateY(20px);
  transition: transform 0.4s ease 0.1s;
}

.gallery-item:hover .gallery-overlay h6 {
  transform: translateY(0);
}

.gallery-overlay p {
  font-family: Satoshi-R;

  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.6;
  max-width: 500px;
  transform: translateY(20px);
  transition: transform 0.4s ease 0.2s;
}

.gallery-overlay i {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.gallery-item:hover .gallery-overlay p {
  transform: translateY(0);
}

@media (max-width: 1152px) {
  .gallery {
    padding: 2rem;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .gallery-item:nth-child(1),
  .gallery-item:nth-child(2),
  .gallery-item:nth-child(3),
  .gallery-item:nth-child(4),
  .gallery-item:nth-child(5) {
    grid-column: 1;
    grid-row: auto;
  }
}
